extends layout

block content
  h2= title
  h3
    | / 
    a(href='/#{catalog}/')
      = catalog
    |  / 
    = bundle + (version ? ' v' + version : '')
  #main_list
    ul(class='list')
      each file_data, file in data.files
        li
          - bundlev = bundle + (version ? '.' + version : '')
          a(href='/#{catalog}/#{bundlev}/#{file}', class="name")
            = file

          - orig = zinc.origFile(catalog, bundle, version, file)
          sup
            | 
            a(href='#{orig}', class='arrow') .

  #dump
    pre(class="prettyprint lang-js")