extends layout

block content
  .page-header
    h1= title
      a.btn.btn-small.pull-right.data-src(href='?format=json')
        | { }
    ul.breadcrumb
      li
        span.divider /
        a(href='/#{catalog}/')
          = catalog
      li
        span.divider /
        = bundle + (version ? ' v' + version : '')
  #main_list
    table.table.table-bordered
      thead
        tr
          th
            | File
          th.span3
            | Flavor tags
          th.span2
            | Zinc URL
      tbody.list
        each file_data, file in data.files
          - bundlev = bundle + (version ? '.' + version : '')
          - orig = zinc.origFile(catalog, bundle, version, file)
          - shortHash = orig.split('/').pop().substr(0,10)
          tr
            td.name
              a(href='/#{catalog}/#{bundlev}/#{file}', class="name")
                = file
            td.flavor
              if file_data.flavors
                each flavor in file_data.flavors
                  |  
                  a(href='#').label
                    = flavor
            td
              a(href='#{orig}')
                = shortHash
