extends layout

block content
  h2= title
  #main_list
    ul(class='list')
      each bundle_data, bundle in data.bundles
        li
          a(href='/#{data.id}/#{bundle}', class="name", title="Latest version of #{bundle}")
            = bundle
          each version in bundle_data.versions
            |  
            sup
              a(href='/#{data.id}/#{bundle}.#{version}')= version
              each distro_version, distro in bundle_data.distributions
                if version == distro_version
                  sup
                    = distro
                    | 
